<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache"> 
<title>Crear Producto</title>
<style type="text/css">
body {
	color: purple;
}

h1 {
	text-align: center;
}

div {
	width: 400px;
	margin: 50px auto;
	padding: 15px;
	background-color: smocke;
	border: 1px solid purple; input { display : block;
	margin-bottom: 15px;
}

input {
	color: purple;
	margin: 0 auto; 
	display : block;
	margin-bottom: 15px;
	border: 1px solid purple;
	padding: 7px;
	display: block;
}}
</style>
</head>
<body>
	<div>
		<h1>Añadir nuevo curso</h1>
		<form action="alta" method="post">
			Nombre curso:<input type="text" th:field="${curso.nombre}"><br>
			Duración curso:<input type="text" th:field="${curso.duracion}"><br> 
			Precio curso:<input type="text" th:field="${curso.precio}"> <br>
			<input type="submit" value="Alta">
		</form>
		<br>
		<a href="toInicio">Salir</a>
	</div>
</body>
</html>